/*==============
    Css reset
================*/

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}

/*==================
  Formatação geral
====================*/

html {
    font-size: calc(10px + 1vw);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #21243d;
}

html body a {
    text-decoration: none;
    color: #21243d;
}

main {
    margin: 0 10vw 0vw 10vw;
}
/*=============================
  Formatação do topo da página
===============================*/

header {
    margin: 0 5vw 3vw 5vw;
}

header nav ul {
    display: flex;
    justify-content: right;
}

header nav ul li {
    margin: 1vw 10px 0 10px;
}

header nav ul li.atual a {
    color: #ff6464;
}

/*======================
  Formatação Works
========================*/

main.works h1 {
    font-weight: 100;/*negrito da fonte*/
    margin: 0 0 0 0;/*espaçamento do título*/
}
    

main.works section {

    border-bottom: 1px solid #e0e0e0;/*borda das sections (apenas na parte de baixo)*/
    padding: 4vw 0 4vw 0;/*espaçamento das sections*/
    
}

main.works section:last-child {
    border: none;
}

main.works section p {
    margin: 1vw 0 1vw 0;
}

main.works section p span {
    color: white;
    background-color: #ff6464;/*cor de fundo*/
    border-radius: 20px;/*borda do span*/
    padding: 2px 7px 2px 7px;/*espaçamento do span*/
    font-weight: bold;/*negrito da fonte*/
}

/*=================================
  Formatação de conteúdo Home page
===================================*/

section.banner {
    display: flex;
    margin: 6vw 0 3vw 0;
}

section.banner h1 {
    font-size: 2rem;
}
section.banner p {
    margin: 2vw 2vw 2vw 0;
}
section.banner button {
    background-color: #ff6464;
    color: white;
    border-radius: 2px;
    padding: 10px 20px 10px 20px;
    font-size: 1rem;
}

section.rt-post {
    background-color: #dae3e6;
    padding: 2vw 1vw 2vw 1vw;
}

section.rt-post h2 {
    font-weight: normal;
    margin: 0 0 1vw 0;
}
section.rt-post ul {
    display: flex;
}

section.rt-post ul li {
    background-color: white;
    padding: 15px 10px 15px 10px;
    margin: 0 2vw 0 0;
}

section.rt-post ul li:last-child {
    margin: 0;
}

section.rt-post ul li p {
    margin: 1.5vw 0 1.5vw 0;
}

section.ft-works h2 {
    font-size: 2rem;
    margin: 0 0 1vw 0;
}

section.ft-works > div {
    display: flex;
}

section.ft-works div h3 {
    margin: 2vw 1vw 2vw 1vw;
    font-size: 1rem;
}

section.ft-works div div img {
    padding: 1vw 2vw 1vw 2vw;
}

section.ft-works div p span {
    padding: 7px 10px 7px 10px;
    background-color: #142850;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    margin: 0 0.5vw 0 0;
}

section.ft-works div p {
    margin: 1vw 1vw 1vw 1vw;
}

section.rt-post ul li h3 {
    margin: 1.5vw 0vw 1.5vw 0vw;
}

/*======================
  Formatação do rodapé
========================*/

footer {
    text-align: center;/*centraliza o texto*/
    padding: 0 0 2vw 0;
}

footer nav ul {
    display: flex;/*coloca os elementos um ao lado do outro*/
    justify-content: center;
}

footer nav ul li {
    margin: 0 10px 5px 10px;/*espaçamento icone*/
    font-size: 1rem;/*tamanho icone*/
}

footer nav ul li a span {
    color: #21243d;
}